
<!-----------GO-TOP------------------->
<a class="gotopbtn" href="#"><i class="fa fa-angle-double-up" ></i></a>
        
        
<!---------------------About------------------>
<a name="about-page"></a>
        <div section id="about">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 about-all-container">
                        <h2>SAPARYA-20</h2>
                     
                            <p class="about-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                            It has survived not only five centuries, but also the leap into electronic typesetting, 
                            remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing 
                            Lorem.</p>
                     
                    </div>
                    <div class="col-md-6">
                        <div class=img-zoom>
                            <img src="./images/saparya-bg1.png" class="d-block img-fluid">
                        </div>
                    </div>
                    
                
                </div>
            </div>
        </div>