<a name="contact-page"></a>
        <div section id="contact">
            <div class="container">
                <div class="all">
                    <div class="contact-all-container">
                      <h2>CONTACT</h2>
                        <div class="contact-content">
                           <table>
                                <tr>
                                    <th>Alan Joy Kuriakose</th>
                                    <th>Adwaith Thirumeni</th>
                                    <th>Sreeraj</th>
                                    <th>Rishikesh</th>
                                </tr>

                                <tr>
                                    <td>974514261</td>
                                    <td>8111968265</td>
                                    <td>7558960825</td>
                                    <td>8078365039</td>
                                </tr>
		                  </table>
                            <span>Email:</span>collegeunion.nssce@gmail.com
                        </div>
                    </div>
                </div>
            </div>
        </div>
