<section id="footer">
    <div class="footer-container">
        
        
        
        <img src="images/NSS%20COLLOGE%20WHITE.png" width="100">
        
        <p class="rights">All Rights Reserved ©College Union NSSCE</p>
        
    </div>

 </section>