<a name="register"></a>
        
       
        <div section id="register">
            <div class="container-fluid">
                <div class="col-md-12">
                    <h2 id="registertext">REGISTER HERE</h2>
                    <div class="underline"></div>
                </div>
                <div class="col-md-6 form-container">
                    <form onsubmit="validate()" method="POST" action="/pages">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Full-Name">
                        </div>
                    
                        <div class="form-group">
                             <label for="regno">Register No</label>
                            <input type="text" class="form-control" id="regno"
                                   placeholder="Register Number   Eg:NSS17EE050">
                        </div>
                       
                        <div class="form-group">
                           <label for="exampleFormControlInput1">Email</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Example@gmail.com">
                        </div>
                        
                        <div class="form-group">
                            <label for="number">Mobile</label>
                            <input type="text" class="form-control" id="number" placeholder="Mobile">
                        </div>
                        
                        <div class="form-group">
                           <label for="branch">Branch</label>
                                <select id="branch" class="form-control">
                                    <option value="">Electrical and Electronics Engineering</option>
                                    <option value="">Computer Science</option>
                                    <option value="">Electronics and Communication</option>
                                    <option value="">Mechanical Engineering</option>
                                    <option value="">OTHER</option>
                                </select>

                        </div>
                        <div class="form-group">
                           <label for="semister">Semester</label>
                                <select id="semester" class="form-control">
                                    <option value="">S1</option>
                                    <option value="">S2</option>
                                    <option value="">S3</option>
                                    <option value="">S4</option>
                                    <option value="">S5</option>
                                    <option value="">S6</option>
                                    <option value="">S7</option>
                                    <option value="">S8</option>
                                </select>

                        </div>

                        
                         <div class="form-group">
                            <label for="art-list">Art</label> 
                            <select id="art-list" class="mul-select form-control" multiple="multiple" >
                                <option value="A1">Event1</option>
                                <option value="A2">Event2</option>
                                <option value="A3">Event3</option>
                                <option value="A4">Event4</option>
                                <option value="A5">Event5</option>
                                <option value="A6">Event6</option>
                                <option value="A7">Event7</option>
                                <option value="A8">Event8</option>
                                <option value="A9">Event9</option>
                                <option value="A10">Event10</option>

                            </select>
                          </div>
        
                        
                        
                        
                 
                         <div class="form-group">
                            <label for="Tech-list">Technical-Events</label> 
                            <select id="Tech-list" class="mul-select form-control" multiple="true" >
                                <option value="T1">Event1</option>
                                <option value="T2">Event2</option>
                                <option value="T3">Event3</option>
                                <option value="T4">Event4</option>
                                <option value="T5">Event5</option>
                                <option value="T6">Event6</option>
                                <option value="T7">Event7</option>
                                <option value="T8">Event8</option>
                                <option value="T9">Event9</option>
                                <option value="T10">Event10</option>

                            </select>
                          </div>
                         
                  
                    </form>
                    <button class="submit-btn" type="submit">SUBMIT</button>
                </div>
            </div>

        </div>